{
  "presets": [
    "react",
    ["env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "stage-0",
    "flow"
  ],
  "plugins": [
    "styled-components",
    "react-loadable/babel",
    "react-hot-loader/babel"
  ]
}
